.container {
    width: 320px;
    height: 480px;
    background: url("../image/game_bg.jpg") no-repeat 0 0;
    margin: 50px auto;
    position: relative;
}

.container > h1 {
    font-size: 32px;
    font-weight: bolder;
    color: white;
    margin-left: 60px;
}

.container > .progress {
    width: 180px;
    height: 16px;
    background: url("../image/progress.png") no-repeat 0 0;
    position: absolute;
    top: 66px;
    left: 63px;
}

.container > .start {
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    /*线性渐变*/
    background: linear-gradient(#E55C3D, #C50000);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
    cursor: pointer;
}

.container > .rules {
    width: 100%;
    height: 20px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}

.container > .rule {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.rule > p {
    line-height: 50px;
    color: white;
}

.rule>a{
    color: red;
}

.container>.mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 200px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.mask>h1{
    color: #ff4500;
    text-shadow: 3px 3px 0 #fff;
    font-size: 40px;
    font-weight: bolder;
}

.mask>button{
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    /*线性渐变*/
    background: linear-gradient(#74ACCF, #007DDC);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}
.btn {
    width: 100px;
    height: 30px;
    background-color: deepskyblue;
    color: black;
}

.btn a {
    text-decoration: none;
    color: black;
}